<!DOCTYPE html>
<html>
<head>
  <title>Notistat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>
